.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.NavBar-link {
  margin: 0 10px;
}

.nav {
  background-color: #00acee;
  width: 100%;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  color: white;
}
.whiteText {
  color: white;
  font-weight: 600;
}

.editFormVisible {
  border: 1px solid grey;
  padding: 5px 0px 0px 0px;
  border-radius: 15px;
  position: absolute;
  top: 7%;
  right: 17%;
}

.editFormNone {
  display: none;
  position: absolute;
  top: 7%;
  right: 17%;
}
