#title {
  text-align: center;
  font-family: arial, sans-serif;
  color: #00acee;
  font-weight: 600;
}

.requestDiv {
  border: 1px solid black;
}

#requests {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}

#requests td,
#requests th {
  border: 1px solid #ddd;
  padding: 8px;
}

#requests tr:nth-child(even) {
  background-color: #f2f2f2;
}

#requests tr:hover {
  background-color: #ddd;
}

#requests th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00acee;
  color: white;
}
