.editForm {
  position: absolute;
  top: 5%;
  right: 20%;
  border: 1px solid black;
  border-radius: 10px;
}

.yelp {
  color: black;
  font-size: 40px;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  box-shadow: 2px 2px 2px 2px rgba(116, 116, 116, 0.486);
  font-weight: 800;
  background-color: white;
  height: 170px;
  overflow: auto;
  resize: vertical;
  border: 1px solid black;
}

.example {
  margin-top: 25px;
}

.blue-text {
  color: black;
}
.medium {
  font-size: 20px;
}

body {
  background-color: #e9f9ff;
}

.highlight {
  text-decoration: underline;
}

.small {
  font-size: 16px;
  color: black;
}

.buttonBlue {
  background-color: #00acee;
  color: white;
  font-size: 1.2em;
  padding: 3px 50px 3px 50px;
  font-weight: 500;
  border-radius: 20px;
}

li {
  font-size: 16px;
}
