.editForm {
  position: absolute;
  top: 5%;
  right: 20%;
  border: 1px solid black;
  border-radius: 10px;
}

.yelp {
  color: black;
  font-size: 40px;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  box-shadow: 1px 1px 1px 1px rgba(116, 116, 116, 0.486);
}
.buttonBlue {
  background-color: #00acee;
  color: white;
  font-size: 1.2em;
  padding: 3px 50px 3px 50px;
  font-weight: 500;
  border-radius: 20px;
}
